@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed-Bold";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed-Light";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Light.woff") format("woff"), url("../fonts/OpenSansCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.header__toggle.active {
  margin-left: 240px;
  margin-top: 13px;
  position: fixed;
  z-index: 1001;
}

.nav-toggle {
  display: none;
  position: relative;
  z-index: 1001;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
  margin-top: 5px;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  height: 50px;
  max-width: 160px;
  line-height: 25px;
  font-family: "OpenSansCondensed-Bold";
  background: #d1a954;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn-yellow:hover {
  background: #d8c191;
}

.btn-yellow:focus {
  outline: none;
}

.btn-long {
  min-width: 160px;
  cursor: pointer;
}

.section {
  background: #333333;
}

.section-header__title {
  display: block;
  font-family: "OpenSansCondensed-Light";
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.section-header__title span {
  color: #D1A954;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 10000;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(0) translate(0, 0) rotateX(0);
  transform: perspective(0) translate(0, 0) rotateX(0);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background: url("../img/modal/bg.jpg") no-repeat;
  position: relative;
  min-height: 550px;
  padding: 5px 15px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  font-size: 30px;
  top: 0;
  font-weight: 700;
  color: #000;
}

.popup__suptitle {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.popup__date {
  color: #333;
  position: absolute;
  right: 15px;
  line-height: 25px;
  font-size: 60px;
  font-weight: 700;
}

.popup__date span {
  font-size: 28px;
  text-transform: uppercase;
}

.popup__title {
  color: #333;
  font-size: 40px;
  color: #fff;
  position: absolute;
  line-height: 40px;
  font-weight: 700;
  top: 54%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup__footer {
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 36px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__phone {
  margin-left: 55px;
}

.header__tel {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-family: "OpenSansCondensed-Bold";
  padding-bottom: 5px;
  border-bottom: 2px solid #d1a954;
}

.header__tel:hover {
  border-bottom: 0;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list__item + .header-menu-list__item {
  margin-left: 35px;
}

.header-menu-list__link {
  font-family: "OpenSansCondensed-Bold";
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:hover {
  color: #d1a954;
}

.pannel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-width: 100px;
  background: rgba(51, 51, 51, 0.75);
  height: 100%;
}

.pannel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.pannel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pannel__title {
  color: #c4c4c4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 25px;
  font-family: "OpenSansCondensed-Bold";
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

.pannel__title span {
  display: block;
}

.pannel-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pannel-social:before {
  content: " ";
  display: block;
  background: #c4c4c4;
  width: 3px;
  height: 80px;
  margin: 30px auto;
}

.pannel-social__item + .pannel-social__item {
  margin-top: 25px;
}

.pannel-social__link {
  fill: rgba(255, 255, 255, 0.6);
}

.pannel-social__link:hover {
  fill: #d1a954;
}

.pannel-social__link_inst {
  width: 26px;
  height: 26px;
}

.pannel-social__link_facebook {
  width: 26px;
  height: 26px;
}

.pannel-social__link_vk {
  width: 26px;
  height: 26px;
}

.pannel-social__link_youtube {
  width: 26px;
  height: 26px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 25px;
}

.intro:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.85)), to(rgba(51, 51, 51, 0.85)));
  background: -o-linear-gradient(bottom, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
  max-width: 515px;
  position: relative;
  z-index: 5;
  margin-right: 75px;
}

.intro__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.content-intro__title {
  color: #ffffff;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold";
}

.content-intro__description {
  color: #ffffff;
  font-size: 14px;
  line-height: 150%;
  margin: 10px 0 35px;
}

.slider {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 28%;
  flex: 0 1 28%;
  position: relative;
  z-index: 5;
}

.slider__item {
  position: relative;
  padding-bottom: 139%;
}

.slider__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__img img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.controls__arrow {
  border: 0;
  background: none;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  font-family: "OpenSansCondensed-Bold";
}

.controls__arrow:hover {
  color: #d1a954;
}

.controls__arrow:hover .controls__iccon {
  fill: #d1a954;
}

.controls__arrow:focus {
  outline: none;
}

.controls__iccon {
  width: 38px;
  height: 15px;
  fill: #fff;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.controls__iccon_prev {
  margin-right: 25px;
}

.controls__iccon_next {
  margin-left: 25px;
}

.swiper-container {
  z-index: 100 !important;
}

.swiper-container .controls__arrow.swiper-button-disabled {
  color: #f35050;
}

.swiper-container .controls__arrow.swiper-button-disabled .controls__iccon {
  fill: #f35050;
}

.swiper-slide:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(243, 80, 80, 0.7);
  box-shadow: 0 0 30px 0 rgba(243, 80, 80, 0.7);
}

.about {
  padding: 80px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.about__column {
  position: relative;
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
}

.about__column_sm {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.about__column_m {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

.about__suptitle {
  color: #ffffff;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold";
  display: block;
  margin-bottom: 30px;
  display: block;
  margin-top: -5px;
}

.about__description {
  color: #ffffff;
  font-size: 14px;
  line-height: 150%;
}

.about__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-item + .about-item {
  margin-top: 25px;
}

.about-item__img {
  margin-bottom: 15px;
}

.about-item__title {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: "OpenSansCondensed-Bold";
}

.about-item__title span {
  color: #d1a954;
}

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
  min-height: 400px;
}

.projects__column:hover .projects-item__title,
.projects__column:hover .projects-item__date {
  opacity: 0;
  visibility: hidden;
}

.projects__column:hover .projects-item__search {
  opacity: 1;
  visibility: visible;
}

.projects__column:hover .projects-item:before {
  opacity: 0;
  visibility: hidden;
}

.projects-item:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.65)), to(rgba(51, 51, 51, 0.65)));
  background: -o-linear-gradient(bottom, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.projects-item__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.projects-item__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 33px;
  font-family: "OpenSansCondensed-Bold";
  position: absolute;
  top: 30px;
  left: 30px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 5;
}

.projects-item__date {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSansCondensed-Bold";
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 5;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.projects-item__search {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: #d1a954;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.rating {
  padding: 75px 0;
}

.rating__inner {
  position: relative;
}

.rating__inner:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9)));
  background: -o-linear-gradient(bottom, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.rating__img img {
  max-width: 100%;
}

.rating__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 15;
}

.rating__row {
  margin-left: 75px;
}

.rating__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
}

.date__item {
  color: #d1a954;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold";
}

.date__item + .date__item {
  margin-top: 5px;
}

.rate {
  margin-bottom: 15px;
}

.rate__item + .rate__item {
  margin-left: 20px;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.partners__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
  margin-bottom: 35px;
}

.partners-item__img img {
  max-width: 100%;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.contact__column_long {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
}

.contact__column + .contact__column {
  margin-left: 75px;
}

.contact__item {
  margin-top: 10px;
}

.contact__item span:hover {
  text-decoration: underline;
}

.contact__title {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold";
}

.contact__row + .contact__row {
  margin-top: 15px;
}

.contact__address {
  font-style: normal;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-contact__item + .form-contact__item {
  margin-left: 25px;
}

.form-contact__item_textarea {
  width: 100%;
}

.form-contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-contact input::-ms-clear {
  display: none;
}

.form-contact__input:first-child {
  margin-bottom: 15px;
}

.form-contact__input .input {
  height: 35px;
  background: #444444;
  border: 1px solid #616161;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  padding: 0 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #989898;
}

.form-contact__input .input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-contact__input .input::-webkit-input-placeholder {
  color: #989898;
  padding-top: 5px;
}

.form-contact__input .input::-moz-placeholder {
  color: #989898;
  padding-top: 5px;
}

.form-contact__input .input:-ms-input-placeholder {
  color: #989898;
  padding-top: 5px;
}

.form-contact__input .input::-ms-input-placeholder {
  color: #989898;
  padding-top: 5px;
}

.form-contact__input .input::placeholder {
  color: #989898;
  padding-top: 5px;
}

.form-contact__textarea {
  min-width: 250px;
  height: 100%;
  margin-left: 25px;
}

.form-contact__textarea .textarea {
  width: 100%;
  height: 35px;
  background: #444444;
  border: 1px solid #616161;
  font-weight: 600;
  font-size: 14px;
  height: 100%;
  line-height: 150%;
  padding: 7px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #989898;
}

.form-contact__textarea .textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-contact .error {
  color: red;
  position: absolute;
}

.form-contact__footer {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-contact__label {
  color: #989898;
  font-size: 12px;
  line-height: 150%;
  max-width: 400px;
}

.footer {
  padding: 0 0 25px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #565656;
  margin-top: 45px;
  padding-top: 25px;
}

.footer__copy {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer__title {
  color: #989898;
  font-size: 12px;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "OpenSans-Regular", Georgia;
  color: #fff;
  font-size: 14px;
  margin: 0;
}

body.lock {
  overflow: hidden;
}

body.hidden {
  overflow: auto;
  padding-right: 0 !important;
}

.lock-padding {
  padding-right: 0 !important;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

@media (min-width: 576px) {
  .popup__content {
    min-width: 424px;
  }
}

@media (min-width: 661px) {
  .rating__content {
    width: 100%;
    max-width: 673px;
  }
}

@media screen and (min-width: 691px) and (-ms-high-contrast: active), (min-width: 691px) and (-ms-high-contrast: none) {
  .form-contact__item_textarea {
    /* IE10+ specific styles go here */
    margin-left: 130px;
  }
}

@media (min-width: 691px) {
  .form-contact__input .input {
    max-width: 180px;
  }
}

@media screen and (-ms-high-contrast: active) and (min-width: 701px), (-ms-high-contrast: none) and (min-width: 701px) {
  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 22%;
    flex: 0 1 22%;
  }
}

@media (max-width: 1350px) {
  .about__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about__column_m {
    display: none;
  }

  .partners__inner {
    margin-left: 100px;
  }

  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
  }

  .partners__column_hidden {
    display: none;
  }

  .contact__inner {
    margin-left: 85px;
  }

  .footer__inner {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1350px) and (-ms-high-contrast: active), (max-width: 1350px) and (-ms-high-contrast: none) {
  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 29%;
    flex: 0 1 29%;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-left: 100px;
  }

  .header__phone {
    margin-left: 48px;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 29px;
  }

  .intro {
    padding-left: 100px;
  }

  .content-intro__title {
    font-size: 51px;
  }

  .projects__wrapper {
    margin-left: 90px;
  }
}

@media (max-width: 992px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__phone {
    margin-left: 0;
    margin-top: 10px;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 31px;
  }

  .header-menu-list__link {
    font-size: 16px;
  }

  .intro {
    padding-left: 0;
  }

  .intro__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 0;
  }

  .slider {
    display: none;
  }

  .about__column:first-child {
    margin-left: 50px;
  }

  .about__column_sm {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35%;
    flex: 0 1 35%;
  }

  .projects__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .rating__inner {
    margin-left: 100px;
  }

  .rating__content {
    max-width: 575px;
  }

  .rating__title {
    font-size: 30px;
  }

  .date__item {
    font-size: 60px;
  }

  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact__column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .contact__column_long {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .contact__column + .contact__column {
    margin-left: 0;
  }

  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact__title {
    text-align: right;
  }

  .contact__row + .contact__row {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .section-header__title {
    margin-bottom: 35px;
  }

  .header {
    padding-top: 25px;
    padding-left: 0px;
  }

  .header__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header__phone {
    margin-top: 0;
  }

  .header-menu-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 100px 0 0 15px;
  }

  .header-menu-list.active {
    display: block;
    overflow: auto;
    height: 100%;
  }

  .header-menu-list:before {
    content: " ";
    display: block;
    min-width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    z-index: -1;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 0;
    margin-top: 30px;
  }

  .header-menu-list__link {
    font-size: 24px;
  }

  .pannel {
    visibility: hidden;
  }

  .pannel__inner {
    padding-bottom: 100px;
  }

  .pannel-social.active {
    visibility: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .pannel-social:before {
    display: none;
  }

  .pannel-social__item + .pannel-social__item {
    margin-top: 0;
    margin-left: 25px;
  }

  .intro {
    padding-top: 50px;
  }

  .content-intro__title {
    line-height: 70px;
    font-size: 55px;
  }

  .content-intro__description {
    margin: 5px 0 20px;
  }

  .about {
    padding: 40px 0;
  }

  .about__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .about__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .about__column_sm {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 42%;
    flex: 0 1 42%;
  }

  .projects__wrapper {
    margin-left: 0;
  }

  .projects__column {
    min-height: 300px;
  }

  .rating {
    padding: 45px 0;
  }

  .rating__inner {
    margin-left: 0;
  }

  .rating__img img {
    min-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .rating__date {
    display: none;
  }

  .rating__row {
    margin-left: 0;
  }

  .partners__inner {
    margin-left: 0;
  }

  .contact__inner {
    margin-left: 0;
  }

  .footer__inner {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 15px;
  }
}

@media (max-width: 700px) {
  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 250px;
    margin: 0 auto 5px;
  }
}

@media (max-width: 690px) {
  .form-contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-contact__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
  }

  .form-contact__input .input {
    width: 100%;
  }

  .form-contact__textarea {
    margin-left: 0;
    margin-top: 25px;
  }
}

@media (max-width: 650px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about__content {
    text-align: center;
    margin-bottom: 30px;
  }

  .about__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .about__column:first-child {
    margin-left: 0;
  }

  .about__suptitle {
    text-align: center;
  }

  .about-item + .about-item {
    margin-top: 0;
    margin-left: 25px;
  }
}

@media (max-width: 576px) {
  .popup__date {
    font-size: 50px;
    line-height: 20px;
  }

  .popup__date span {
    font-size: 22px;
  }

  .popup__footer {
    font-size: 28px;
  }
}

@media (max-width: 575px) {
  .section-header__title {
    margin-bottom: 15px;
  }

  .popup__content {
    background-position-x: center;
  }

  .about__suptitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .projects__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .rating {
    padding: 25px 0;
  }

  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .form-contact__item + .form-contact__item {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .form-contact__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-contact__textarea {
    margin-top: 15px;
  }

  .form-contact__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .form-contact__label {
    margin-bottom: 15px;
  }
}

@media (max-width: 475px) {
  .nav-toggle.active .nav-toggle__item {
    position: absolute;
    margin-left: 0;
  }

  .header-menu-list:before {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .footer__copy {
    margin-bottom: 5px;
  }
}

@media (max-width: 450px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__description {
    text-align: justify;
  }

  .about-item + .about-item {
    margin-top: 25px;
    margin-left: 0;
  }

  .about-item {
    text-align: center;
  }

  .about-item:first-child {
    margin-top: 10px;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact__item {
    text-align: center;
  }

  .contact__title {
    text-align: center;
  }
}

@media screen and (-ms-high-contrast: active) and (max-width: 380px), (-ms-high-contrast: none) and (max-width: 380px) {
  .rating__content {
    left: 38%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .nav-toggle.active {
    padding: 20px;
  }

  .popup.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .popup.hidden .popup__content {
    -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  }

  .rating__content {
    /* IE10+ specific styles go here */
  }

  .partners {
    /* IE10+ specific styles go here */
    margin-top: -140px;
  }

  .partners__column {
    /* IE10+ specific styles go here */
  }
}

@media (max-height: 620px) {
  .pannel {
    min-height: 650px;
    overflow: auto;
  }
}

@media (max-height: 608px) {
  .pannel__title {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
  }
}